h1 {
    color: #581845;
    text-align: center;
    font-weight: bold;
    font-family: Kanit;
}
.center {
    width: 100%;
    
}


h3 {
    color: #900c3f;
    text-align: left;
    font-weight: bold;
    font-family: Kanit;
}

p,ul {
    color: #000000;
    text-align: left;
    font-family: Kanit;
    text-indent: 4ch;
    text-align: justify;
}


@font-face {
    font-family: Kanit;
    src: url(../Kanit/Kanit-Regular.ttf)
}

.toolTips{
    color: #ff5733;
    font-family: Kanit;
}

.container {
    margin: 20px 20px 20px 20px;
}

img{
    width: 640px;
    height: 400px;
}

.img-container{
    text-align: center;
}